<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handle bars</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div>
    <h1>{{title}} Forecast</h1>
          {{>header}}
          <form >
        <input type="text" placeholder="Location">
        <button>Submit</button>
    </form>
    </div>
    
    {{>footer}}
    <script src="./index.js"></script>
</body>
</html>